#main_canvas {
    width: 100vw;
    height: 100vh;
}

body {
    overflow-y: hidden;
    padding: 0px;
    margin: 0px;
}

.slider {
    position: absolute;
    width: 30%;
}

.checkbox {
    position: absolute;
}